# --- Exports ---
{{- if stat (joinPath .chezmoi.homeDir ".local/bin") }}

# set PATH so it includes user's private bin, if it exists
export PATH="${HOME}/.local/bin:${PATH}"

{{- end -}}

{{- if lookPath "vim" }}

# Set vim as the default editor
export EDITOR="vim"
export VISUAL=${EDITOR}
export SYSTEMD_EDITOR=${EDITOR}

{{- end -}}

{{- if lookPath "nvm" }}

# Node Version Manager
export NVM_DIR="${HOME}/.nvm"

{{- end -}}

{{- if lookPath "vivid" }}

# Also used for carapace completion
LS_COLORS="$(vivid generate molokai)"
export LS_COLORS

{{- end }}
