# --- Sources ---
# TODO - check whether all this stuff is needed for zsh - maybe can do it with plugin
{{- if stat (joinPath .chezmoi.homeDir ".nvm") }}

# Node Version Manager
export NVM_DIR="${HOME}/.nvm"

{{- if stat (joinPath .chezmoi.homeDir ".nvm/nvm.sh") }}

# This loads nvm
\. "${NVM_DIR}/nvm.sh"

{{- if (and (base .chezmoi.targetFile | eq ".bashrc") (stat (joinPath .chezmoi.homeDir ".nvm/bash_completion")) ) }}

# This loads nvm bash_completion
\. "${NVM_DIR}/bash_completion"

{{- end }}
{{- end }}
{{- end }}

{{- if lookPath "npm" }}
source <(npm completion)
{{- end -}}

{{- if lookPath "brew" }}
HOMEBREW_COMMAND_NOT_FOUND_HANDLER="$(brew --repository)/Library/Homebrew/command-not-found/handler.sh"
if [ -f "${HOMEBREW_COMMAND_NOT_FOUND_HANDLER}" ]; then
  source "${HOMEBREW_COMMAND_NOT_FOUND_HANDLER}"
fi
{{- end -}}
