# ~/.zshrc

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{{ template "aliases" }}
{{ template "exports.tmpl" . }}
{{ template "functions" }}
{{ template "settings.tmpl" . }}
{{ template "sources.tmpl" . }}

# --- Antidote --- #

if [ -f $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh ]; then
	source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh

	# initialize plugins statically with ${ZDOTDIR:-$HOME}/.zsh_plugins.txt
	antidote load
fi

# --- Zsh-Specific Configuration --- #

for file in "${HOME}"/.config/zsh/*; do
	[ -r "${file}" ] && [ -f "${file}" ] && source "${file}"
done

if command -v zoxide >/dev/null 2>&1; then
	eval "$(zoxide init zsh)"
fi

# Powerlevel10k: to customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f "${HOME}/.p10k.zsh" ]] || source "${HOME}/.p10k.zsh"
